
<div class="panel panel-default" data-ng-controller="productListCtrl" data-ng-hide="data.error">
	<div class="col-xs-3">
		<a data-ng-click="selectCategory()" class="btn btn-block btn-default btn-lg">Home</a>
		<a data-ng-repeat="item in data.products | orderBy: 'category' | unique: 'category' "
		   data-ng-click="selectCategory(item)" class="btn btn-block btn-default btn-lg"
		   data-ng-class="getCategoryClass(item)">
			{{item}}
		</a>
	</div>
	<div class="col-xs-8">
		<div class="well" data-ng-repeat="item in data.products | filter:categoryFilterFn | range:selectedPage:pageSize">
			<h3>
				<strong>{{item.name}}</strong>
				<span class="pull-right label label-primary">
					{{item.price | currency}}
				</span>
			</h3>
			<button 
				data-ng-click="addProductToCart(item)"
				class="btn btn-success pull-right">Add to cart</button>
			<span class="lead">{{item.description}}</span>
		</div>
		<div class="pull-right btn-group">
			<a data-ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize"
			   data-ng-click="selectPage($index + 1)" class="btn btn-default"
			   data-ng-class="getPageClass($index + 1)">
			   {{$index + 1}}
			</a>
		</div>
	</div>
</div>